* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Source Sans Pro', sans-serif;
}
.header {
  
}
.header_top {
    background-color: #f5f5f5;
    height: 40px;
    width: 100%
    
}

.header_navbar {
    display: flex;
    justify-content: space-between;
   
}

.header_navbar-list {
    display: flex;
    list-style: none;
    line-height: 40px;
}

.header_navbar-item {
    padding-left: 0px;
    margin: 0 10px;
    
}

.header_navbar-item--link {
    text-decoration: none;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6c6c6c;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 14px;
}

.header_navbar-item--link:hover {
    color: var(--money-color);
}

.header_navbar-item--icon {
    color: var(--money-color);
}

.header_navbar-item--icon--like {
    color: #9c9c9c;
}

/* container */
.container {
    background-image: linear-gradient(to right, #e3d6f6 ,#f3e8e0 ,#dfe4e7);
    height: 2147px;
}


/* header search */
.header_mid {
    display: flex;
    align-items: center;
    height: 112px;
    margin-right: 50px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 23px;
   
}


  


.header_logo {
    display: flex;
    position: relative;
    padding: 0 29px;
}

.header_logo::before {
    content: "";
    display: block;
    height: 62px;
    width: 1px;
    background-color: var(--money-color);
    position: absolute;
    top: 4px;
    right: 9px;

}

.header_logo-link {
    text-decoration: none;
    color: var(--money-color);
    font-family: 'Roboto', sans-serif;

}

.header_logo-name {
    font-size: 40px;
}

.header_logo-des {
    font-size: 18px;
    padding-left: 4px;
}

.header_search {
  margin-left: 54px;
    width: 629px;
    position: relative;
   
}
.header_search-input {
    
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    font-weight: 600;
    outline: none;
    font-size: 15px;
    color: #000;
    padding: 12px 16px;
    border-radius: 20px; 
}

.header_search-submit {
    position: absolute;
    right: -26px;
    top: 4px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#fd8500,#ff5500);
    padding: 9px 11px;
    color: var( --White-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    cursor: pointer;


}

.header_search-kid{
    
}

.header_search-kid--item{
    display: flex;
    position: absolute;
    top: 50px;
    left: 20px;
  
}

.header_search-kid--list{
    list-style: none;
    font-size: 15px;
    padding-right: 12px;
}

.header_search-kid--list a {
    color: black;
    text-decoration: none;
    font-size: 14px;

}
.header_search-kid--list a:hover {
    color: var(--money-color);
}

/* category */

.category{
    display: flex;
    justify-content: space-between;
}
.category_Cate{
    width: 863px;
    height: 570px;
    background-color: var(--White-color);
    border-radius: 25px;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
     padding-right: 22px;
   
          

}


.category_Cate {
   
}
.category_list{
    
    width: 175px;
    list-style: none;
    grid-row: 1/4;
}

.category_title {
    font-size: 25px;
    color: var(--money-color);
    padding: 10px 0;
    text-align: center;
}
.category_items {
   
    
}

.category_items:hover {
    background-color: #f7b2b2;
    cursor: pointer;
}
.category_icon {
    font-size: 10px;
}

.category_item-link {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding:10px 15px;
    font-size: 15px;
    color: black;
    text-decoration: none;

} 

.category_slider{
    grid-column: 2/4;
    width: 643px;
    height: 263px;
    background-color: var(--money-color);
    margin-top: 44px;
    border-radius: 25px;
    overflow: hidden;
}
.slider_img {
    height: 100%;
    object-fit: cover;
}

.category_new{
  height: 202px;
  width: 318px;
  background-color: violet;
  border-radius: 25px;

}

.category_sales{
    height: 202px;
  width: 318px;
  background-color: rgb(219, 1, 219);
  border-radius: 25px;


}
/* cate user */
.category_user{
    width: 312px;
    height: 570px;
    background-color: var(--White-color);
    border-radius: 25px;
    margin-left: 20px;
}



/* footer */
.footer {
    margin-top: 20px;
}